<div class="markup">
	<div class="markup_links center_item_vertically">
		<div class="markup_link mapicon">
			
		</div>
		<div class="markup_link piechart">
			
		</div>
		<div class="markup_link linechart">
			
		</div>
		<div class="markup_link barchart">
			
		</div>
		<div class="markup_link teammembers">
			
		</div>
	</div>
	<div class="home-head">
		<div class="markup_logo">
			<img src="images/logo.png" class="center_item" style="height: 40px;">
		</div>
		<div class="markup_header_text">
			<span class="center_item_vertically" style="font-size: 2.2rem;">Markup - Group 3</span>
		</div>
	</div>
	<div class="markup_landing" ui-view="main-view">
		In markup here
	</div>
</div>