<div class="team-member tobi">
	<div class="relative-container" style="height: calc(100% - 35px);">
		
	</div>
	<div style="width: 100%; height: 35px; text-align: center; font-weight: bold; position: relative; padding-top: 5px;">
		<span class="center_item">TOBI</span>
	</div>
</div>
<div class="team-member zino">
	<div class="relative-container" style="height: calc(100% - 35px);">
		
	</div>
	<div style="width: 100%; height: 35px; text-align: center; font-weight: bold; position: relative; padding-top: 5px;">
		<span class="center_item">ZINO</span>
	</div>
</div>
<div class="team-member khadijah">
	<div class="relative-container" style="height: calc(100% - 35px);">
		
	</div>
	<div style="width: 100%; height: 35px; text-align: center; font-weight: bold; position: relative; padding-top: 5px;">
		<span class="center_item">KHADIJAH</span>
	</div>
</div>
<div class="team-member ronke">
	<div class="relative-container" style="height: calc(100% - 35px);">
		
	</div>
	<div style="width: 100%; height: 35px; text-align: center; font-weight: bold; position: relative; padding-top: 5px;">
		<span class="center_item">RONKE</span>
	</div>
</div>